@page "/images"

<h1 class="text-6xl m-6 text-gray-800">Astronomy Picture of the Day</h1>

@if (!ImageList.Any())
{
    <p>Loading some images...</p>
}
else
{
    <div class="p-2 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
        @foreach (var image in ImageList)
        {
            <ImageCard ImageDetails="image" />
        }
    </div>
}

