@page "/spintest"

<div>
    <Chase />
    <Circle />
    <CircleFade />
    <Flow />
    <Grid />
    <Plane />
    <Pulse />
    <Swing />
    <Wander />
    <Wave />
    <Bounce />
    <Fold />
</div>